*{
   margin: 0;
   padding: 0;
   
   box-sizing: border-box;
   font-family: "Josefin Sans", sans-serif;

}
.about-section {
   background: url(../pic/aby.png) no-repeat left;
   background-size: 50%; 
   background-position:2rem;
   background-color: #fdfdfd;
   overflow: hidden;
   padding: 0 10px;
   
}

.inner-container {
   width: 55%;
   float: right;
   background-color: #fdfdfd;
   padding: 150px;
}

.inner-container h1 {
   margin-bottom: 30px;
   font-size: 50px;
   font-weight: 900;
   color: #c33764;
}

.text {
   font-size: 13px;
   color: black;
   line-height: 30px;
   text-align: justify;
   margin-bottom: 40px;
}

button {
   border: none;
   padding: 8px 15px;
   background-color: #c33764;
   color: #fff;
   font-size: 20px;
}

@media screen and (max-width:1200px){
   .inner-container{
       padding: 80px;
   }

}

@media screen and (max-width:1000px){
   .about-section{
       background-size: 100%;
       padding: 100px 40px;
   }

   .inner-container{
       width: 100%;
   }
}

@media screen and (max-width:600px){
   .about-section{
       padding: 0;
   }
   .inner-container{
       padding: 60px;
   }
}